{% extends 'emilyBoutikBundle::layout.html.twig' %}

{% block h1 %}
	{{ category.name }}
{% endblock %}

{% block content %}
    <h2>Liste des produits</h2>
	<ul>
		{% for product in category.products %}
			<li>
				{{ product.name }}
			</li>
		{% else %}
			<li>No product</li>
		{% endfor %}
	</ul>
{% endblock %}